---
BasedOnStyle: Chromium
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: "false"
AllowShortIfStatementsOnASingleLine: "false"
AllowShortLoopsOnASingleLine: "false"
ColumnLimit: 80
MaxEmptyLinesToKeep: 2
SortIncludes: "false"
SpaceAfterCStyleCast: "true"
